@model ApsHgBrasilWeather.Lib.Models.RestModels.HgBrasil.PrevisaoTempoAtual


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <div class="previsao-tempo-atual-container">
        <div class="data-consulta">
            <p><small>Consultado em: @Model.DataConsulta - @Model.HoraConsulta</small></p>
        </div>
        <br />
        <h2>Previsão do Tempo Atual</h2>

        <div class="form-group">
            <div class="col-md-4">
                <label>Nascer do Sol: </label>
                <input type="text" value="@Model.HorarioNascerSol" />
            </div>

            <div class="col-md-4">
                <label>Pôr do Sol: </label>
                <input type="text" value="@Model.HorarioPorSol" />
            </div>

            <div class="col-md-4">
                <label>Velocidade do Vento: </label>
                <input type="text" value="@Model.VelocidadeVento" />
            </div>

            <div class="col-md-12">
                <div class="dados-principais">
                    <div class="col-md-6 umidade-do-ar">
                        <figure>
                            <img src="~/Images/traffic-lights.png" />
                            <figcaption><label>Umidade Relativa do Ar: @Model.UmidadePercentual</label></figcaption>
                        </figure>
                    </div>

                    <div class="col-md-6 temperatura-atual">
                        <figure>
                            <img src="~/Images/@Model.NomeImagemCondicaoTempo" />
                            <figcaption>
                                <h4>@Model.CondicaoTempoAtual</h4>
                                <label>Temperatual Atual: @Model.TemperaturaAtual</label>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <h2>Previsão do Tempo dos Dias Seguintes</h2>

    @foreach (var previsao in Model.ListaPrevisaoTempoOutrosDias)
    {
        <div class="panel">
            <div class="panel-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" href="#@previsao.DiaSemana" aria-expanded="false" aria-controls="collapseExample">
                    <p style="font-weight: bold">@previsao.DiaSemana - @previsao.DataPrevisao</p>
                </a>
            </div>

            <div class="collapse" id="@previsao.DiaSemana">
                <div class="panel-dia-semana">
                    <div class="card-condicao-tempo">
                        <img src="~/Images/@previsao.NomeImagemCondicaoTempo" />
                        <h4>@previsao.CondicaoTempo</h4>

                        <div class="info-temperatura">
                            <label>Min: @previsao.MinimaTemperatura</label>
                            <label>Máx: @previsao.MaximaTemperatura</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</body>
</html>
